*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Custom colours */
:root {
    --light-grey: #d0d7de;
    --lighter-grey: #dee3e8;
    --lightest-grey: #eff1f3;
    --blue: #0550ae;
    --dark-blue: #0a3069;
    --purple: #6639ba;
}

/* Elements (alphabetical order) */
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 1rem;
}

@media screen and (max-width: 640px) {
    body {
        padding: 0.5rem;
    }
}

footer {
    bottom: 0;
    font-size: small;
    margin-top: 1rem;
    text-align: center;
}

h1 {
    padding-bottom: 0.6rem;
    border-bottom: 1px solid var(--lighter-grey);
    margin: 0 0 1rem 0;
}

h2 {
    padding-bottom: 0.45rem;
    border-bottom: 1px solid var(--lighter-grey);
    margin: 1.5rem 0 1rem 0;
}

h3,
.symbol {
    font-weight: 600;
    font-size: 1.25rem;
    margin: 1rem 0;
    text-align: left;
}

h4,
p {
    margin: 1rem 0;
}

section {
    border: 1px solid var(--lighter-grey);
    border-radius: 0.375rem;
    margin: 0.5rem 0;
}

table,
th,
td {
    border: 1px solid var(--light-grey);
    border-collapse: collapse;
    font-size: 95%;
}

th {
    background-color: var(--lightest-grey);
    text-align: center;
}

th,
td {
    padding: 0.125rem 0.25rem;
}

ul {
    padding-left: 1rem;
}

/* Classes (alphabetical order) */
.bold {
    font-weight: bold;
}

.center {
    text-align: center;
}

.code {
    background-color: var(--lightest-grey);
    padding: 0.17rem 0.34rem;
    border-radius: 0.375rem;
    margin: 0;
}

.codeblock {
    padding: 1rem;
    overflow-x: auto;
}

.collapsible {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    gap: 1.25rem;
    justify-content: space-between;
    padding: 0 1rem;
    width: 100%;
}

.collapsible:hover,
.active {
    background-color: var(--lighter-grey);
}

.container {
    border: 1px solid var(--light-grey);
    border-radius: 0.375rem;
    margin: 0 auto;
    max-width: 1012px;
    min-height: calc(100vh - 2rem);
    padding: 2rem 2rem 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (max-width: 640px) {
    .container {
        padding: 1rem 1rem 0 1rem;
    }
}

.content {
    display: none;
    padding: 0 1rem;
}

.italic {
    font-style: italic;
}

.js-argument,
.js-object-str,
.json-str {
    color: var(--dark-blue);
}

.js-arrow,
.js-object,
.json-int,
.json-key,
.json-null {
    color: var(--blue);
}

.js-method {
    color: var(--purple);
}

.long-URL {
    overflow-wrap: break-word;
}

.table-container {
    overflow-x: auto;
}

/* Ids */

#returnAllNationalities {
    outline: 0;
}
